<li class="workplace transition">
    {% for second in site.data.experience.second-place %}
    <p class="workplace-name">
             <a class="transition" href="https://tmaxanc.com/#!/main" target="_blank">
                {{ second.name }}
             </a>
            <div class="underline-mask transition"></div>
            <div class="underline"></div>
    </p>
    <div class="work-info">
        <p>
            {{ second.role }}
        </p>
        <p class="work-sub-info">
            {{ second.date }}
        </p>
    </div>
    {% endfor %}
</li>

<li class="workplace transition">
    {% for first in site.data.experience.first-place %}
    <p class="workplace-name">
       <a class="transition" href="http://list.snu.ac.kr" target="_blank">
          {{ first.name }}
       </a>
      <div class="underline-mask transition"></div>
      <div class="underline"></div>
    </p>
    <div class="work-info">
        <p>
            {{ first.role }}
        </p>
        <p class="work-sub-info">
            {{ first.date }}
        </p>
    </div>
    {% endfor %}
</li>

<!--
        <div class="intro-link">
             <a class="transition" href="http://ridicorp.com/" target="_blank">
                 RIDI
             </a>
            <div class="underline-mask transition"></div>
            <div class="underline"></div>
        </div>.
-->
